# MySQL 示例
MYSQL_DSN=root:password@tcp(127.0.0.1:3306)/go_test
GORM_DSN=root:password@tcp(127.0.0.1:3306)/go_test?charset=utf8&parseTime=True&loc=Local

# Redis 示例
REDIS_ADDR=127.0.0.1:6379
REDIS_PASSWORD=

# RabbitMQ 示例
RABBITMQ_URL=amqp://guest:guest@127.0.0.1:5672/
RABBITMQ_QUEUE=GoTestMessage

